/* Default styles for all screen sizes */
html,
body {
  margin: 10px;
  background: rgb(201, 171, 171);
  font-family: lucida-console, monospace;
  text-align: center;
  font-size: 20px;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 100%; /* Set canvas width to 100% */
}

#title {
  /*   width: 50%;
  align-content: center;
  text-align:center; */
  background-color: rgb(184, 183, 199);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 77, 255);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  text-shadow: -1px 0 lightblue, 0 1px lightblue, 1px 0 lightblue,
    0 -1px lightblue;
  box-shadow: 10px 10px 5px lightblue;
}

#title h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

#title p {
  font-size: 20px;
}

.added p {
  shadow: 10px 10px 5px lightblue;
  text-align: left;
  font-family: lucida-console, monospace;
}

.nd {
  width: 300px;
  font-size: 25px;
  font-family: lucida-console, monospace;
}

/* Media query for screens smaller than 768px */
@media (max-width: 620px) {
  #title h1 {
    font-size: 20px;
  }
  #title p {
    font-size: 12px;
  }
  .added {
    font-size: 15px;
  }

  .nd {
    width: 125px;
    font-size: 16px;
  }
}
